.button {
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #F16F01;
    border-radius: 100%;
    overflow: none;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .button:hover {opacity: 1}